# Окружение (local, dev, prod)
ENV="local"

# SERVER Setting
# HTTP
# Required
HTTP_SERVER_ADDRESS="127.0.0.1:8011"
# Optional
HTTP_SERVER_TIMEOUT=4s
HTTP_SERVER_IDLE_TIMEOUT=60s

# GRPC
# Required
GRPC_SERVER_ADDRSS="127.0.0.1:50011"
# Optional
GRPC_SERVER_TIMEOUT=4s

# BROCKER Setting
# NUTS
# Required
NATS_URL="nats://127.0.0.1:4222"
# Optional
NATS_TIMEOUT=10s
NATS_MAX_RECONNECTS=5
NATS_RECONNECT_WAIT=2s
