go 1.26.0

use (
	./services/auth_service
	./services/community_service
	./services/gateway_service
	./services/message_service
	./services/notification_service
	./services/presence_service
	./services/user_service

	./shared/
)

replace github.com/sudo-odner/minor-shared => ../../minor-shared
