# Окружение (local, dev, prod)
ENV="local"

# SERVER Setting
# gRPC 
# Required
GRPC_SERVER_ADDRESS="127.0.0.1:50086"
# Optional
GRPC_SERVER_TIMEOUT=4s

# REDIS Connection
# Required
REDIS_URL="redis://127.0.0.1:6379"
# Optional
REDIS_POOL_SIZE=10
REDIS_MIN_IDLE_CONNS=3
REDIS_DIAL_TIMEOUT=5s
REDIS_READ_TIMEOUT=3s
REIDS_WRITE_TIMEOUT=3s

# BROCKER Setting
# Nuts 
# Required
NUTS_URL="nats://127.0.0.1:4222"
# Optional
NUTS_TIMEOUT=10s
NUTS_MAX_RECONNECTS=5
NUTS_TIMEOUT_RECONNECTS=2s
