# Окружение (local, dev, prod)
ENV="local"

# HTTP server connection
HTTP_SERVER_ADDRESS=":8080"
HTTP_SERVER_TIMEOUT=4s
HTTP_SERVER_IDLE_TIMEOUT=60s

# Postgres
POSTGRES_HOST="dm-postgres"
POSTGRES_PORT=5432
POSTGRES_USER="dm_serivce"
POSTGRES_PASSWORD="dm_service_master_key"
POSTGRES_DATABASE="dm_service"
