# APP
ENV=dev

# GATEWAY SERVICE HTTP SERVER Connection
HTTP_PORT=:8085
HTTP_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=60s

# NUTS Connection
# Required
NATS_URL=nats://nats:4222
NATS_STREAM_NAME="GATEWAY_STREAM"
# Optional
NATS_TIMEOUT=10s
NATS_MAX_RECONNECTS=5
NATS_RECONNECT_WAIT=2s

# gRPC clients target
AUTH_GRPC_ADDR=auth-service:50051
PRESENCE_GRPC_ADDR=presence-service:50051