# APP
NAME="auth-service"
VERSION="1.0.0"
ENV="local"

# AUTH SERVICE HTTP SERVER Connection
HTTP_PORT=8081
HTTP_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=60s

# AUTH SERVICE GRPC SERVER Connection
GRPC_SERVER_PORT=50051

#POSTGRES Connection
POSTGRES_HOST="auth-postgres"
POSTGRES_PORT=5451
POSTGRES_USER="minor-user"
POSTGRES_PASSWORD="minor-password"
POSTGRES_DB_NAME="minor-auth"
POSTGRES_SSLMODE="disable" #enable
POSTGRES_MAX_POOL_SIZE=20

# REDIS Connection
# Required
REDIS_HOST="redis"
REDIS_PORT="6379"
# host: "redis" 
# port: 6379
REDIS_PASSWORD=""
REDIS_DB=0
# Optional
REDIS_POOL_SIZE=10
REDIS_MIN_IDLE_CONNS=3
REDIS_DIAL_TIMEOUT=5s
REDIS_READ_TIMEOUT=3s
REIDS_WRITE_TIMEOUT=3s

# NUTS Connection
# Required
NATS_URL="nats://127.0.0.1:4222"
NATS_STREAM_NAME="AUTH_STREAM"
# Optional
NATS_TIMEOUT=10s
NATS_MAX_RECONNECTS=5
NATS_RECONNECT_WAIT=2s

# gRPC clients target
GRPC_CLIENT_USER_TARGET=127.0.0.1:50084
GRPC_CLIENT_COMMUNITY_TARGET=127.0.0.1:50083
  
#AUTH
JWT_SECRET="secret-word"
ACCESS_TOKEN_TTL="15m"    
REFRESH_TOKEN_TTL="720h"