# APP
ENV="dev"

# NOTIFICATION SERVICE HTTP SERVER Connection
HTTP_PORT=:8087
HTTP_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=60s

# NUTS Connection
# Required
NATS_URL=nats://nats:4222
NATS_STREAM=CHAT_STREAM
# Optional
NATS_TIMEOUT=10s
NATS_MAX_RECONNECTS=5
NATS_RECONNECT_WAIT=2s

# gRPC clients target
PRESENCE_GRPC_ADDR=presence-service:50051
USER_GRPC_ADDR=user-service:50051
  
#SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=stepan41kr@gmail.com
# ВАЖНО: Это 16-значный "Пароль приложения", а не ваш пароль от почты!
SMTP_PASS=emru zcld ikfi byvp
SMTP_FROM=Minor Messenger <stepan41kr@gmail.com@gmail.com>