# Окружение (local, dev, prod)
ENV="local"

# SERVER Setting
# http
# Required
HTTP_SERVER_ADDRESS="127.0.0.1:8084"
# Optional
HTTP_SERVER_TIMEOUT=4s
HTTP_SERVER_IDLE_TIMEOUT=60s

# gRPC 
# Required
GRPC_SERVER_ADDRESS="127.0.0.1:50011"
# Optional
GRPC_SERVER_TIMEOUT=4s


# BROCKER Setting
# Nuts 
# Required
NUTS_URL="nats://127.0.0.1:4222"
# Optional
NUTS_TIMEOUT=10s
NUTS_MAX_RECONNECTS=5
NUTS_TIMEOUT_RECONNECTS=2s


# REPOSITORY Setting
# Postgres 
POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT=5411
POSTGRES_USER="community_service"
POSTGRES_PASSWORD="community_service_master_key"
POSTGRES_DATABASE="community_service"
