# Окружение (local, dev, prod)
ENV="local"

# Настройки HTTP сервера
HTTP_SERVER_ADDRESS="127.0.0.1:8011"
HTTP_SERVER_TIMEOUT=4s
HTTP_SERVER_IDLE_TIMEOUT=60s

# Подключениe к Cassandra (local -> 1 instans Cassandra, dev k8s -> 1 cluster Cassandra)
#   NumConns = (Ожидаемые RPS / Узлов кластера) / RPS_на_соединение
CASSANDRA_HOST="127.0.0.1" 
CASSANDRA_KEYSPACE="chat"
#   IF CASSANDRA_USERNAME == "" login without username and password
CASSANDRA_USERNAME="chat_service"
CASSANDRA_PASSWORD="chat_mastker_key"
CASSANDRA_CONSISTENCY="ONE"
CASSANDRA_NUM_CONNS=4
CASSANDRA_TIMEOUT=15s

# Подключение к NATS
NATS_URL="nats://127.0.0.1:4222"
